<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>
    <script src="slidershow.js" defer></script>
    <script src="app.js" defer></script>
    <title>La maison du Phare</title>
</head>

<body>
    <header class="header-container">
    <img class="icon-img" src="images/phare.png">
<a href="/" class="links"><h1 class="logo">La Maison du&nbsp;<span class="yellow">Phare</span></h1></a>
       
        <nav class="nav-links">
            <li class="nav-links-list"><a href="/maison" class="links">La Maison</a></li>
            <li class="nav-links-list"><a href="https://www.leboncoin.fr/locations_gites/2358550247.htm" class="links">Réserver</a></li>
            <li class="nav-links-list"><a href="#" class="links">Infos pratique</a></li>
        </nav>
    </header>